---
layout: layout.liquid
title: Random Number Generator
---

<h1>Generate:</h1>
<div x-data="randomNameGenerator">
    <h1 x-text="selectedName">Click the button to see a name</h1>
    <button @click="pickRandomName()">Get Random Name</button>
</div>
