---
title: 11ty Boilerplate
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Random Number</title>
  <link rel="stylesheet" href="/styles/screen.css">
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
  <script src="/assets/js/main.js" defer></script>
</head>
<body>
  <nav>
    <ul>
    </ul>
  </nav>
    {{ content }}
</body>
</html>